torch
torchvision
torchmetrics==1.8.2
pytorch_lightning==2.5.5
torch_scatter
affine==2.4.0
albumentations==1.0.0
bidict==0.21.2
descartes==1.1.0
fastapi==0.118.0
fiona==1.10.1
geopandas==0.9.0
hydra-core==1.3.2
kornia==0.8.1
matplotlib==3.10.6
multiprocess==0.70.13
numpy==2.3.3
omegaconf==2.3.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.3.3
parameterized==0.9.0
Pillow==11.3.0
psycopg2_binary==2.9.10
pycocotools==2.0.10
pydantic==1.10.24
pyproj==3.7.2
pytorch_toolbelt==0.4.3
rasterio==1.4.3
sahi==0.10.4
scikit_learn==1.3.2
scipy==1.16.2
seaborn==0.13.2
segmentation_models_pytorch==0.5.0
setuptools==80.9.0
Shapely==2.1.2
similaritymeasures==0.4.4
skan==0.10.0
skimage==0.0
SQLAlchemy==2.0.43
starlette==0.19.1
swifter==1.0.9
tqdm==4.67.1
wget==3.2