torch==1.10.0
torchvision==0.11.1
pytorch-lightning==1.5.5
torchmetrics>=0.6.0
segmentation-models-pytorch>=0.2.0
hydra-core==1.1.1
kornia==0.5.4
albumentations==1.0.0
pandas==1.2.4
tensorboardX
pillow==8.2.0
matplotlib==3.4.2
scipy==1.7.0
numpy==1.20.3
pytorch_toolbelt==0.4.3
descartes==1.1.0
fiona==1.8.20
psycopg2==2.9.1
shapely==1.8.0
geopandas==0.9.0
geoalchemy2==0.9.0
rasterio==1.2.6
numba==0.53.1
sahi==0.8.13
skan==0.10.0
torch-scatter==2.0.9
tqdm==4.61.1
pygeos==0.10
rtree==0.9.7
bidict==0.21.2
Cython==0.29.24
ninja==1.10.0.post3
pyyaml==5.3.1
pycocotools==2.0.2
multiprocess==0.70.12.2
wget==3.2
fastapi==0.70.0
uvicorn==0.16.0
similaritymeasures==0.4.4
colorama==0.4.4
swifter==1.0.9
