mkdocs>=1.4.0
mkdocs-material>=9.0.0
mkdocstrings[python]>=0.20.0
mkdocs-jupyter>=0.24.0

# Additional plugins
mkdocs-git-revision-date-localized-plugin>=1.1.0
mkdocs-minify-plugin>=0.6.0
mkdocs-redirects>=1.2.0
mkdocs-awesome-pages-plugin>=2.8.0

# Content plugins
mkdocs-macros-plugin>=0.7.0
mkdocs-table-reader-plugin>=2.0.0
mkdocs-glightbox>=0.3.0